sopel>=7.1,<8
google-api-python-client>=1.5.5,<1.8; python_version < '3.6'
google-api-python-client>=1.5.5,<3; python_version >= '3.6'
setuptools  # any version should do; we just need pkg_resources at runtime
